<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <h1>게시글 조회</h1>
    <form id="form" action="/board/update" method="POST">
		<input type="hidden" name="no" value="${board.no}" />
		<table>
			<tr>
				<td><label for="title">제목</label></td>
				<td><input type="text" name="title" th:value="${board.title}" readonly/></td>
			</tr>
			<tr>
				<td><label for="writer">작성자</label></td>
				<td><input type="text" name="writer" th:value="${board.writer}" /></td>
			</tr>
			<tr>
				<td><label for="content">내용</label></td>
				<td>
					<textarea rows="5" cols="20" name="content" th:text="${board.content}"></textarea>
				</td>
			</tr>
		</table>
		<div>
            <button type="button" onclick="moveToUpdate()">수정</button>
			<button type="button" onclick="moveToDelete()">삭제</button>
            <button type="button" onclick="moveToList()">목록</button>

		</div>
	</form>

    <script>
        function moveToUpdate() {
            let no = "[[${board.no}]]"
            location.href="/board/update?no=" + no;
        }

        function moveToList() {
            location.href = "list";
        }

        function moveToDelete() {
            let no = "[[${board.no}]]"
            location.href="/board/delete?no=" + no;
        }
    </script>
</body>
</html>